# SPDX-FileCopyrightText: Copyright (c) 2026 Contributors to the Eclipse Foundation
# SPDX-License-Identifier: Apache-2.0

common --registry=https://raw.githubusercontent.com/eclipse-score/bazel_registry/main/
common --registry=https://bcr.bazel.build
common --experimental_isolated_extension_usages
common --@rules_rust//rust/toolchain/channel=nightly

build --incompatible_strict_action_env
